/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define SYMBOL  1
#define MEDIA   2

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <54 53 52 51 50 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 44 45 46 47 48 49 56 57 58 59 55>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <55 56 57 58 59 0 1 2 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 50 51 52 53 54 3>;
            hold-trigger-on-release;
            flavor = "balanced";
        };

        double_tap: double_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLE_TAP";
            #binding-cells = <0>;
            bindings = <&kp RSHIFT>, <&caps_word>;
        };
    };

    combos {
        compatible = "zmk,combos";

        blue_clear {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <0 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";

            /*
             *  DEFAULT                                    
             * ,-----------------------------------------.                    ,-----------------------------------------.
             * |  `   |   1  |   2  |   3  |   4  |   5  |                    |   6  |   7  |   8  |   9  |   0  |  -   |
             * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
             * | ESC  |   Q  |   W  |   E  |   R  |   T  |                    |   Y  |   U  |   I  |   O  |   P  | Bspc |
             * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
             * | Tab  |   A  |   ⌃S |   ⌥D |   ⌘F |   G  |-------.    ,-------|   H  |   ⌘J |   ⌥K |   ⌃L |   ;  |  '   |
             * |------+------+------+------+------+------|  MUTE |    |       |------+------+------+------+------+------|
             * |LShift|   Z  |   X  |   C  |   V  |   B  |-------|    |-------|   N  |   M  |   ,  |   .  |   /  |RShift|
             * `-----------------------------------------/       /     \      \-----------------------------------------'
             *            |   ⌘  |  ⌥   |  ⌃   |Bspc  | /Enter  /       \Space \  | &to1 |  ⌃   |  ⌥   |  ⌘   |
             *            |      |      |      |      |/       /         \      \ |      |      |      |      |
             *            `----------------------------------'           '------''---------------------------'
             */

            bindings = <
&kp GRAVE  &kp N1  &kp N2        &kp N3       &kp N4            &kp N5                                  &kp N6  &kp N7           &kp N8            &kp N9        &kp N0    &kp MINUS
&kp ESC    &kp Q   &kp W         &kp E        &kp R             &kp T                                   &kp Y   &kp U            &kp I             &kp O         &kp P     &kp BSPC
&kp TAB    &kp A   &hmr LCTRL S  &hml LALT D  &hml RIGHT_GUI F  &kp G                                   &kp H   &hmr LEFT_GUI J  &hmr RIGHT_ALT K  &hmr RCTRL L  &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X         &kp C        &kp V             &kp B          &kp C_MUTE    &none      &kp N   &kp M            &kp COMMA         &kp DOT       &kp FSLH  &double_tap
                   &kp LGUI      &kp LALT     &kp LCTRL         &kp BACKSPACE  &kp RET       &kp SPACE  &to 1   &kp RCTRL        &kp RALT          &kp RGUI
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        symbol {
            display-name = "symbol";

            /*
             * SYMBOL
             * ,-----------------------------------------.                    ,-----------------------------------------.
             * |      |      |      |      |      |   *  |                    |   &  |   <  |   !  |   >  |   =  |      |
             * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
             * | ESC  |      |   1  |   2  |   3  |   #  |                    |   %  |   {  |   /  |   }  |   -  |      |
             * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
             * | Tab  |      |  ⌃4  |  ⌥5  |  ⌘6  |   |  |-------.    ,-------|   @  |  ⌘(  |  ⌥\  |  ⌃)  |   +  |      |
             * |------+------+------+------+------+------|  MUTE |    |       |------+------+------+------+------+------|
             * |LShift|      |   7  |   8  |   9  |   _  |-------|    |-------|   ^  |   [  |   ?  |   ]  |   /  |      |
             * `-----------------------------------------/       /     \      \-----------------------------------------'
             *            |   ⌘  |  ⌥   |  ⌃   | &to1 | /Enter  /       \Space \  | &to2 |  ⌃   |  ⌥   |  ⌘   |
             *            |      |      |      |      |/       /         \      \ |      |      |      |      |
             *            `----------------------------------'           '------''---------------------------'
             */

            bindings = <
&trans  &kt F1  &none                &none            &none                   &kp ASTRK                       &kp AMPS     &kp LESS_THAN               &kp EXCLAMATION  &kp GREATER_THAN              &kp EQUAL      &trans
&trans  &none   &kp KP_NUMBER_1      &kp KP_NUMBER_2  &kp KP_NUMBER_3         &kp HASH                        &kp PERCENT  &kp LEFT_BRACE              &kp BSLH         &kp RIGHT_BRACE               &kp MINUS      &trans
&trans  &kp N0  &hml LCTRL NUMBER_4  &hml LALT N5     &hml LEFT_GUI NUMBER_6  &kp PIPE                        &kp AT       &hmr RGUI LEFT_PARENTHESIS  &hmr RALT FSLH   &hmr RCTRL RIGHT_PARENTHESIS  &kp KP_PLUS    &trans
&trans  &none   &kp KP_NUMBER_7      &kp KP_NUMBER_8  &kp KP_NUMBER_9         &kp UNDERSCORE  &none    &none  &kp CARET    &kp LBKT                    &kp QMARK        &kp RIGHT_BRACKET             &kp KP_DIVIDE  &trans
                &trans               &trans           &trans                  &to 0           &none    &none  &to 2        &trans                      &trans           &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>,
                <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        media {
            display-name = "media";

            /*
             * MEDIA
             * ,-----------------------------------------.                    ,-----------------------------------------.
             * |      |      |      |      |      |      |                    |      |      |      |      |      |      |
             * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
             * |      |      |      |      |      |      |                    |      |      |  Up  |      |      |      |
             * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
             * |      |      | ⌘PRV | ⌥PLY | ⌃NXT |      |-------.    ,-------|      | Left | Down |Right |      |      |
             * |------+------+------+------+------+------|  MUTE |    |       |------+------+------+------+------+------|
             * |      |      |      |      |      |      |-------|    |-------|      |      |      |      |      |      |
             * `-----------------------------------------/       /     \      \-----------------------------------------'
             *            |   ⌘  |  ⌥   |  ⌃   | &to1 | /Enter  /       \Space \  | to2  |  ⌃   |  ⌥   |  ⌘   |
             *            |      |      |      |      |/       /         \      \ |      |      |      |      |
             *            `----------------------------------'           '------''---------------------------'
             */

            bindings = <
&trans  &none  &none             &none           &none              &none                              &none  &none     &none     &none      &none  &trans
&trans  &none  &none             &none           &none              &none                              &none  &none     &kp UP    &none      &none  &trans
&trans  &none  &hml LGUI C_PREV  &hml LALT C_PP  &hml LCTRL C_NEXT  &none                              &none  &kp LEFT  &kp DOWN  &kp RIGHT  &none  &trans
&trans  &none  &none             &none           &none              &none  &bootloader    &bootloader  &none  &none     &none     &none      &none  &trans
               &trans            &trans          &trans             &to 0  &none          &none        &to 2  &trans    &trans    &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP K_VOLUME_DOWN>,
                <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };
    };
};
